.menu{
    padding: 2rem 0;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1024px){
            flex-direction: column;
        }
        &-logo{
            font-size: 1.5rem;
            font-weight: 600;
     
        }
        ul{
            display: flex;
            align-items: center;
            @media (max-width: 1024px){
                margin-top: 2rem;
                flex-direction: column;
            }
            li{
                & + li{
                    @media (max-width: 1024px){
                        margin-left: 0;
                    }
                    
                    margin-left: 2rem;
                    @media (max-width: 1024px){
                        flex-direction: column;
                    }
                }
            }
        }
    }
}